.CardContainer {
  display: flex;
  justify-content: center;
  margin: 5%;
  .Card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 439px;
    height: 584px;
    padding: 48px 58px 72px;
  }
}
