.select {
  width: 439px;
  height: 58px;
  border-radius: 8px;
  padding: 16px;
  border: solid 1px;
  border-color: #c4c4c4;
}
.input {
  width: 405px;
  border-radius: 8px;
  height: 22px;
  padding: 16px;
  margin: 16px 0 32px;
  border: solid 1px;
  border-color: #c4c4c4;
}
.draw_joke_button {
  width: 439px;
  height: 58px;
  margin: 0px 0 52px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #34394f;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
}
