.buttons_container {
  display: flex;
}
.button_container {
  width: 145px;
  height: 58px;
  border-radius: 6px;
  background-color: #f5f6f8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .plus {
    background: url(../assets/plus.png);
    width: 25px;
    height: 24px;
    border: none;
  }
  .minus {
    background: url(../assets/minus.png);
    width: 25px;
    height: 24px;
    border: none;
  }
  .indicator {
    width: 30px;
    border: none;
    background: none;
    text-align: center;
    outline: none;
  }
  &_error {
    background-color: #f39a9a;
  }
}

.save_button {
  width: 286px;
  height: 58px;
  border-radius: 6px;
  background-color: #f5f6f8;
  margin-left: 8px;
  border: none;
}
.save_button_active {
  @extend .save_button;
  background-color: #34394f;
  color: white;
}
.save_error_text {
  color: #f39a9a;
}
